.container {
    background: black;
    height: 100%;
    min-height: 100vh;
}

.txt{
    font-size: 60px;
    color: white;
    padding-top: 20vh;
}

.hero {
    
}

.about {
    color: white;
}

.aboutTxt {
    color: white;
}